linkprograms {
    text-decoration: none;
}

/* .container {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap; 
    align-items: stretch; 
    justify-content: flex-start; 
} */
 
.title {
    margin-top: 30px;
}

#deleteButtonP {
    margin-block: 20px;
    margin-left: 20px;
   
}

#modifyButtonP {
    margin-block: 20px;
   
}